@import url(/awesom.css);
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}
* {
  width: 200px;
  height: 200px;
  background-color: rgb(90, 3, 112);
}
