.awesome {
  width: 100%;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #ffffff;
}

.awesome-titel {
  margin-top: 100px;
  text-shadow: rgb(177, 57, 57) 0 0 2px;
}

.awesome-titel:after {
  content: '';
  display: block;
  width: 64px;
  height: 2px;
  margin: 0 auto;
  margin-top: 25px;
  background-color: rgb(177, 57, 57);
}

.awesome-description {
  margin-top: 30px;
  margin-bottom: 36px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #86878b;
  text-align: center;
}

.awesome-wrap {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.awesome-item {
  display: inline-block;
  margin: 31px 15px 0px 15px;
  width: 350px;
}

.awesome-item__titel {
  font-size: 20px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  margin-top: 30px;
  color: #333333;
  font-weight: 700;
}

.awesome-item__text {
  text-align: center;
  margin-top: 16px;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.awesome-item__img {
  width: 70px;
  height: 70px;
  border: 1px solid #000000;
  border-radius: 50%;
  margin: auto;
  text-align: center;
}
.icon-lamp {
  display: block;
  margin: 19px auto;
}

.icon-keyboard {
  display: block;
  margin: 21px auto;
}

.icon-lightning {
  display: block;
  margin: 19px auto;
}
